version: "3.8"

services:
  dns-central:
    build: .
    container_name: dns-central
    restart: unless-stopped
    ports:
      - "5050:5000"
    env_file:
      - .env
    environment:
      - FLASK_ENV=production
